<div id="search_form">
<h3>Search datasets:</h3>
<div class="form_content">
<form action="${h.url_for(controller='package', action='search', id=None)}" method="GET">
  ${h.text('q', size=40, value=c.q)}
  ${h.submit('search', _('Search Packages &raquo;'))}
  <p class="desc">
    E.g. 'geo', 'shakespeare', 'science'
  </p>
  <div>
  	<div id="edit-filters-open-wrapper">
  	<label for="open_only" class="inline">${h.checkbox(name='open_only', checked=c.open_only)} open license</label></div>
  <div id="edit-filters-down-wrapper"><label for="downloadable_only" class="inline">${h.checkbox(name='downloadable_only', checked=c.downloadable_only)} downloadable</label></div></div>
</form>
</div>
</div>