<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

<xi:include href="_util.html" />

<head>
  <title>CKAN - Comprehensive Knowledge Archive Network - ${page_title()}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="http://m.okfn.org/gfx/logo/favicon.ico" type="image/x-icon" />
  <link rel="alternate" type="application/atom+xml" title="CKAN Recent Changes" href="/revision/list?format=atom&amp;days=1" />

  <link rel="stylesheet" href="http://m.okfn.org/kforge/css/master.css" type="text/css" media="screen, print" title="Master stylesheet" charset="utf-8" />
  <link rel="stylesheet" href="/css/ckan.master.css" type="text/css" media="screen, print" />
  <link rel="stylesheet" href="/css/ckan.master.css" type="text/css" media="screen, print" />

	<link type="text/css" rel="stylesheet" media="all" href="http://datadotgc.ca/sites/default/themes/descartes/style.css?z" />
	<link type="text/css" rel="stylesheet" media="all" href="http://datadotgc.ca/sites/default/themes/descartes/styles/reset.css?z" />
	<link type="text/css" rel="stylesheet" media="all" href="http://datadotgc.ca/sites/default/themes/descartes/styles/blocks.css?z" />
	<link type="text/css" rel="stylesheet" media="all" href="http://datadotgc.ca/sites/default/themes/descartes/styles/layout.css?z" />
	<link type="text/css" rel="stylesheet" media="all" href="http://datadotgc.ca/sites/default/themes/descartes/styles/html.css?z" />

  <!--[if IE]>
  <link rel="stylesheet" href="/css/ie.css" type="text/css" media="screen, print" />
  <![endif]-->

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
  <script type="text/javascript" src="/scripts/application.js"></script>

  <xi:include href="./yuicodes.html" />

  <py:if test="defined('optional_head')">
    ${optional_head()}
  </py:if>
  
  <!-- Typekit embed code -->
  <script type="text/javascript" src="http://use.typekit.com/wty5dhe.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <!-- /Typekit -->
  
</head>

<body class="yui-skin-sam">
<div id="airlock">
  <!--[if IE]>
    <hr class="holder" />
  <![endif]-->

  <p class="hidden"><a href="#main" title="Skip to page content">[ Skip to main content ]</a></p>



<!-- hd from datadotgc -->
<div id="hd">
      <div id="site-name"><a href="http://datadotgc.ca/" title="Go to home page..." class="tk-museo active">datadotgc.ca</a></div><!-- /site-name -->
      <div class="block block-block tk-museo-sans" id="block-block-6">
			<div class="content">
				<div class="openid-link first" style="clear: both; text-align: right;">
					<a style="background: transparent url(http://www.datadotgc.ca/modules/openid/login-bg.png) no-repeat 0 0; padding-left: 20px;" href="http://ca.ckan.net/user/login">Log in using OpenID</a>
				</div>
			</div>
</div>

	<ul class="links primary-links">
		<li class="menu-524 active-trail first active"><a href="http://datadotgc.ca/" title="" class="active">Home</a></li>
		<li class="menu-435"><a href="http://datadotgc.ca/about" title="About">About</a></li>
		<li class="menu-565"><a href="http://datadotgc.ca/data" title="Data">Data</a></li>
		<li class="menu-434"><a href="http://datadotgc.ca/faq" title="FAQ">FAQ</a></li>
		<li class="menu-441"><a href="http://datadotgc.ca/how-get-involved" title="How to Get Involved">How to Get Involved</a></li>
		<li class="menu-442 last"><a href="http://ca.ckan.net/package/new" title="">Liberate a Data Set</a></li>
	</ul>
    </div><!-- /hd -->
	
  <div id="primary" class="sidebar">
    <primarysidebar>
    <!-- Primary Side Bar Goes Here -->
    </primarysidebar>

    <!--[if IE]>
    <hr class="primary" />
    <![endif]-->
  </div><!-- /primary -->

  <div id="main">
    <content>
      <p>Master content template placeholder &hellip; please replace me.</p>
    </content>


    <!--<div id="footer">
      <p>
        <a href="http://validator.w3.org/check/referer" title="Valid XHTML 1.1">XHTML</a>
        | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>
        | <a href="http://www.okfn.org/ckan/">Project Home Page</a>
        | <a href="http://www.okfn.org/contact/">Contact Us</a>
        | <a href="http://www.okfn.org/privacy-policy/">Privacy Policy</a>
      </p>
      <p>
        <img style="margin-bottom: -5px;" src="http://m.okfn.org/images/logo/okf_logo_white_and_green_tiny.png" /> An <a href="http://www.okfn.org/">Open Knowledge Foundation</a> Project
      </p>
      <p>
        v${c.__version__}
        | (c) Open Knowledge Foundation
	| All material available under an <a href="${h.url_for('license')}">open license</a>
        | <a href="http://www.opendefinition.org/1.0/"><img
            style="border: none; margin-bottom: -4px;"
            src="http://m.okfn.org/images/ok_buttons/ok_90x15_blue.png"
            alt="This Content and Data is Open" /></a>
        | <a href="http://www.opendefinition.org/1.0/"><img
            style="border: none; margin-bottom: -4px;"
            src="http://m.okfn.org/images/ok_buttons/od_80x15_blue.png"
            alt="This Content and Data is Open" /></a>
      </p>
    </div>--><!-- /footer -->

    <!--[if IE]>
    <hr class="main" />
    <![endif]-->

  </div><!-- /main -->

	<div id="ft">
	            <div class="block block-block with-block-editing tk-museo-sans" id="block-block-7">
			<div class="content"><p>This is not an official Government of Canada website. Rather, it’s a collaborative effort by <a href="http://datadotgc.ca/about">a group of citizens</a> who want our governments to open their data — in useful, structured formats — so we’re showing them how it could be done.</p>
	<p>This site is powered by <a href="http://drupal.org">Drupal</a> and <a href="http://ckan.net">CKAN</a> (the Comprehensive Knowledge Archive Network, which is a project of the <a href="http://www.okfn.org">Open  Knowledge Foundation</a>). You can read more about the project <a href="http://datadotgc.ca/about">here</a>.</p>

	</div>
</div>
	    </div><!-- /ft -->

</div><!-- /airlock -->

<!--! No need to load GA in development -->
<py:if test="not config['debug']">
  <!-- Google Analytics -->
  <script src='http://www.google-analytics.com/ga.js' type='text/javascript'></script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-8271754-2");
  pageTracker._setDomainName(".ckan.net");
  pageTracker._trackPageview();
  } catch(err) {}
  </script>
  <!-- /Google Analytics -->
</py:if>

</body>
</html>
